<div class="container">
  <div class="jumbotron" style="text-align: center;">
    <h2>kwetu blog</h2>
    <p>a blog for everyone</p>
  </div>
</div>
<div class="container">

<div class="centre">
  <img class="img" src="{{article.img}}" alt="Card image cap">

  <h4 class="heading">{{article.head}}</h4>

  <p class="mainP">{{article.par}}</p>
<h6>by <strong>{{article.author}}</strong></h6>

  <button class="btn" type="button" name="button"><strong>UPDATE</strong></button>


    <button {{action 'delete' article}} class="btn" type="button" name="button"><strong>DELETE</strong></button>

  </div>
</div>
